

<footer class="mainfooter" role="contentinfo">

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="text-md-center">&copy; Copyright 2016 - City of USA.  All rights reserved.</p>
        </div>

        <div class="col-md-4">
          <a href="#"> <i class="fa fa-facebook-official  fa-2x" aria-hidden="true"></i></a>
          <a href="#"> <i class="fa fa-twitter  fa-2x" aria-hidden="true"></i></a>
          <a href="#"> <i class="fa fa-youtube-square  fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
