<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8">
        <app-card></app-card>
      </div>

      <div class="col-md-4" >
        <app-card-image></app-card-image>
      </div>

    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8">
        <p> this suhjk ashjkjas ashgays sauahsu sdff fsdf dssssssssss sssd fsd fsdfsdss sd fs dfsdf sdf sdf </p>
        <div class="row">
          <div class="col-md-4" >
            <p> this suhjk ashjkjas ashgays sauahsu sdff fsdf dsss ssssssssssd fsd fsdfsdss sd fs dfsdf sdf sdf </p>
          </div>
          <div class="col-md-4 offset-md-3" >
            <p> this suhjk ashjkjas ashgays sauahsu sdff fsdf dssss sssssssssd fsd fsdfsdss sd fs dfsdf sdf sdf </p>
          </div>
        </div>

      </div>

      <div class="col-md-4" >
        <p> this suhjk ashjkjas ashgays sauahsu sd  fse fsd fs fsd f sdf sdf sdfsdf sdf sd fsd fsdfds f sdfsdf sdf sd f dsf sdf sdfs df sf d fs df sfsdf sd fsd fs </p>
      </div>
    </div>
  </div>

</div>

