<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <app-card class="col-md-4"></app-card>
          <app-card class="col-md-4"></app-card>
          <app-card class="col-md-4"></app-card>
        </div>
      </div>


      <div class="col-md-4" >
        <app-card-image></app-card-image>
      </div>

    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8">
        <app-card></app-card>
      </div>


      <div class="col-md-4" >
        <app-card-image></app-card-image>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>

